body {
  margin-top: 60px;
  padding: 10px;
  background-color: #ECF0F1;
}

.selection {
  float: left;
}

.info_line {
  color: #ddd;
  background: #333;
}

.preview_line {
  background: white;
}

.sticker_img {
  width: 128px;
}

@media print {
  html {
    visibility: hidden;
  }

  #print_preview {
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
  }
}