body {
  margin-top: 60px;
  padding: 10px;
  background-color: #ECF0F1;
}

.info_line {
  color: #ddd;
  background: #333;
}

.preview_line {
  background: white;
}

.sticker_img {
  width: 128px;
}
